/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2018, 4:04:51 PM
    Author     : Jovana
*/


@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('../fonts/HelveticaNeueRegular(1)/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueRegular(1)/HelveticaNeueRegular.woff') format('woff'), url('../fonts/HelveticaNeueRegular(1)/HelveticaNeueRegular.ttf')  format('truetype'), url('../fonts/HelveticaNeueRegular(1)/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/NexaBold/NexaBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/NexaBold/NexaBold.otf')  format('opentype'),
	     url('../fonts/NexaBold/NexaBold.woff') format('woff'), url('../fonts/NexaBold/NexaBold.ttf')  format('truetype'), url('../fonts/NexaBold/NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'NexaBold';
   
}


p{
    font-family: 'HelveticaNeueRegular';
   
}
